{% extends 'basic.html' %}
{% block title %} Welcome TO home {%endblock%}
{% block body %}
<div class="container my-3">
    <div class="jumbotron">
        <h1 class="display-4">Welcome To Icoders </h1>
        <p>Welcome to my blog and this blog very wonderfull and very intrasting feature involve .</p>
        <p class="lead"></p>
        <hr class="my-4">
        <p>Welcome to my blog and got o blog and you will see the block post iside it .</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/blog" role="button">GO TO Blog</a>
        </p>
    </div>
</div>
{%endblock%}